In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/PacktWorkshops/The-Data-Analysis-Workshop/master/Chapter07/Dataset/heart.csv')

In [6]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [7]:
df.rename(index = str, columns = {
    'cp' : 'chest_pain',
    'trestbps' : 'rest_bp', 
    'fbs' : 'fast_bld_sugar', 
    'restecg' : 'rest_ecg', 
    'thalach' : 'max_hr', 
    'exang' : 'ex_angina', 
    'oldpeak' : 'st_depr', 
    'ca' : 'colored_vessels',
    'thal' : 'thalassemia', 
}, inplace = True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              303 non-null    int64
 1   sex              303 non-null    int64
 2   chest_pain       303 non-null    int64
 3   rest_bp          303 non-null    int64
 4   chol             303 non-null    int64
 5   fast_bld_sugar   303 non-null    int64
 6   rest_ecg         303 non-null    int64
 7   max_hr           303 non-null    int64
 8   ex_angina        303 non-null    int64
 9   st_depr          303 non-null    float64
 10  slope            303 non-null    int64
 11  colored_vessels  303 non-null    int64
 12  thalassemia      303 non-null    int64
 13  target           303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 35.5+ KB